/* Admin Profile Sidebar */

.admin-sidebar{
    height: 59.15rem;
    position: sticky;
    top: 13rem;
    flex: 0 1 20%;
    border-right: .1rem #bbbbbb solid;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.admin-sidebar-heading{
    color: #000000;
    margin-left: 1.7rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: bold;
}

.admin-sidebar-button{
    font-size: 2rem;
    text-align: left;
    border-radius: 0rem;
    background-color: #ffffff;
    color: #888888;
    border: none;
    padding: 1rem;
    padding-left: 2rem;
    display: flex;
}

.admin-sidebar-button:hover,
.admin-sidebar-button:active,
.admin-sidebar-button:focus{
    background-color: #ffffff !important;
    color: #444444 !important;
}

.admin-sidebar-delete-button{
    font-size: 2rem;
    text-align: left;
    border-radius: 0rem;
    background-color: #ffffff;
    color: #888888;
    border: none;
    padding: 1rem;
    padding-left: 2rem;
    display: flex;
}

.admin-sidebar-delete-button:hover,
.admin-sidebar-delete-button:active{
    background-color: #ffffff !important;
    color: #444444 !important;
}

.admin-sidebar-delete-button:focus{
    background-color: #ffffff !important;
    color: #888888 !important;
}

.admin-sidebar-button-selected{
    color: #444444;
}

.admin-sidebar-button-icon{
    margin-top: .4rem;
    margin-right: 1.5rem;
}