/* Change Password Screen */

.user-change-password {
  flex: 0 1 80%;
  padding-left: 5rem;
  padding-right: 5rem;
}

.user-change-password-heading {
  font-size: 3rem;
  margin-top: 5rem;
  margin-bottom: 4rem;
  font-weight: bold;
}

.user-change-password-form {
  /* width: 70%; */
  display: flex;
  flex-direction: column;
}

.user-change-password-label {
  font-size: 2.1rem;
  margin-bottom: 4rem;
}

.user-change-password-input-div {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  border: 0.1rem #cccccc solid;
  border-radius: 0.6rem;
}

.user-change-password-input {
  /* width: 40rem; */
  outline: none;
  border: none;
  font-size: 16px;
}
.user-change-password-input.form-control:focus {
}

.user-change-password-input-button {
  font-size: 1.7rem;
  color: #666666;
  background-color: transparent;
  border: none;
}

.user-change-password-input-button:hover,
.user-change-password-input-button:active,
.user-change-password-input-button:focus {
  background-color: transparent !important;
  color: #666666 !important;
}

.user-change-password-button {
  width: 55%;
  height: 5rem;
  font-size: 2.1rem;
  font-weight: bold;
  background-color: #00632c;
  border: none;
}

.user-change-password-button:hover,
.user-change-password-button:active,
.user-change-password-button:focus {
  background-color: #004b22 !important;
}

@media screen and (max-width: 600px) {
  .user-change-password-button {
    width: auto;
    height: 5rem;
    font-size: 2.1rem;
    font-weight: bold;
    background-color: #00632c;
    border: none;
  }
}

@media screen and (min-width: 800px) {
  .paddingforgetpass {
    padding: 0rem 20rem 17rem 2rem;
  }
}

@media screen and (min-width: 1400px) {
  .paddingforgetpass {
    padding: 0rem 32rem 17rem 4rem;
  }
}
